name: SonarCloud Scan

on:
  push:
    branches:
      - master
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  sonarcloud:
    name: Run SonarCloud Scan
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0   # required for better analysis

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@v2
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          args: >
            -Dsonar.projectKey=saiharshithabs_materials
            -Dsonar.organization=saiharshithabs
            -Dsonar.exclusions=**/*.java
            -Dsonar.c.file.suffixes=-
            -Dsonar.cpp.file.suffixes=-
            -Dsonar.objc.file.suffixes=-


         
  cpp-check:
    name: Cppcheck Scan
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install Cppcheck
        run: sudo apt-get update && sudo apt-get install -y cppcheck
      - name: Run Cppcheck
        run: cppcheck --enable=all --inconclusive --quiet .     
            
      
  grype:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Install Grype (fixed version)
      run: |
        GRYPE_VERSION="0.81.0"
        curl -sSfL https://raw.githubusercontent.com/anchore/grype/main/install.sh \
        | sh -s -- -b ./bin v$GRYPE_VERSION

    - name: Run Grype Vulnerability Scan
      run: |
        ./bin/grype dir:. \
          --exclude "./.github/**" \
          --fail-on high

 
 
